/*
 * -------------------------------------------------
 *  hybrid-assembly Nextflow base config file
 * -------------------------------------------------
 * A 'blank slate' config file, appropriate for general
 * use on most high performace compute environments.
 * Assumes that all software is installed and available
 * on the PATH. Runs in `local` mode - all jobs will be
 * run on the logged in environment.
 */

process {
  withName:spades {
    memory = 128.GB
    cpus = 16
  }
  withName:masurca {
    memory = 128.GB
    cpus = 16
  }
  withName:canu {
    memory = 128.GB
    cpus = 16
  }
}

