
/*
 * ----------------------------------------------------------------------------
 *  Nextflow config file for use with Singularity on BINAC cluster in Tuebingen
 * ----------------------------------------------------------------------------
 * Defines basic usage limits and singularity image id.
 */

singularity {
    enabled = true
    autoMounts = true
}

process {
    container = 'kevinmenden/hybrid-assembly:latest'

    beforeScript = 'module load devel/singularity/2.4.1'
    executor = 'pbs'
    queue = 'smp'

    $masurca{
    cpus = 32
    memory = 500.GB
  }
}
