/*
 * -------------------------------------------------
 *  Nextflow config file for use with Docker
 * -------------------------------------------------
 * Defines basic usage limits and docker image id.
 * Imported under the default 'docker' Nextflow
 * profile in nextflow.config
 */

docker {
  enabled = true
  runOptions = '-u $(id -u):$(id -g)'
}

params {
  igenomes_base = 's3://ngi-igenomes/igenomes/'
}

process {
  container = params.container
}