/*
 * -------------------------------------------------
 *  Nextflow config file for use with Docker
 * -------------------------------------------------
 * Configuration for runs on our galaxy server
 */

params {
  igenomes_base = 's3://ngi-igenomes/igenomes/'
}


process {
   $spades{
     cpus = 20
     memory = 120.GB
  }
  $masurca{
    cpus = 20
    memory = 120.GB
  }
}
