/*
 * -------------------------------------------------
 *  Nextflow config file for use with Docker
 * -------------------------------------------------
 * Configuration for runs on our galaxy server
 */

params {
  igenomes_base = 's3://ngi-igenomes/igenomes/'
}


process {
   withName:spades{
     cpus = 20
     memory = 120.GB
  }
  withName:masurca{
    cpus = 20
    memory = 120.GB
  }
  withName:canu{
    cpus = 20
    memory = 120.GB
  }
  withName:minimap{
    cpus = 20
    memory = 120.GB
  }
  withName:pilon{
    cpus = 20
    memory = 120.GB
  }
}
