/*
 * -------------------------------------------------
 *  Nextflow config file for use with Docker
 * -------------------------------------------------
 * Configuration for the HPE Superdome Flex
 */

params {
  igenomes_base = 's3://ngi-igenomes/igenomes/'
}

process {
   $spades{
     cpus = 40
     memory = 800.GB
  }
  $masurca{
    cpus = 32
    memory = 600.GB
  }
}
