/*
 * -------------------------------------------------
 *  Nextflow config file for use with Docker
 * -------------------------------------------------
 * Configuration for testing on my workstation
 */

params {
  igenomes_base = 's3://ngi-igenomes/igenomes/'
  shortReads = '/home/kevin/tmp_stuff/assembly_test/ecoli_fastq/ecoli_sub_{1,2}*'
  longReads = '/home/kevin/tmp_stuff/assembly_test/ecoli_fastq/ecoli_nanopore_sub4x.fastq.gz'
  masurca_genomesize = '4600000'
  genomeSize = '4.6M'
}


process {
   $spades{
     cpus = 6
     memory = 30.GB
  }
  $masurca{
    cpus = 6
    memory = 30.GB
  }
}
