/*
 * -------------------------------------------------
 *  Nextflow config file for use with Docker
 * -------------------------------------------------
 * Configuration for the Bob and Rose machine at DZNE Tübingen
 */

params {
  igenomes_base = 's3://ngi-igenomes/igenomes/'
}

process {
   withName:spades{
     cpus = 40
     memory = 800.GB
  }
  withName:masurca{
    cpus = 36
    memory = 400.GB
  }
}
